{{extend 'layout.html'}}
<div class="container">
    {{=titulo("ABC ","Curva ABC")}}

    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="tab" href="#home">Pesquisa</a></li>
        <li><a data-toggle="tab" href="#menu1">Resultado</a></li>
    </ul>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            {{=form_pesq.custom.begin}}
            <div class="row">
                {{=campo(4,form_pesq.custom.label.demanda,form_pesq.custom.widget.demanda)}}
                {{=campo(4,form_pesq.custom.label.abc,form_pesq.custom.widget.abc)}}
                {{=campo(4,form_pesq.custom.label.tipo,form_pesq.custom.widget.tipo)}}
            </div>
            <hr>
            {{=btnRodape(form_pesq.custom.submit)}}
            {{=form_pesq.custom.end}}
        </div>
        <div id="menu1" class="tab-pane fade">
            {{=curvaabc}}
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $('#pesquisar_abc').click(function(){
        var valorabc = $('#pesquisar_abc').val();
        if(valorabc != 'INSUMO'){
          $('#pesquisar_tipo').val('TODOS');
          $('#pesquisar_tipo').prop('disabled',true);
        } else {
          $('#pesquisar_tipo').prop('disabled',false);
        }
    });

    jQuery('form').submit(function() {
        $('.nav li.active').next('li').removeClass('disabled');
        $('.nav li.active').next('li').find('a').attr("data-toggle","tab").trigger("click");
        alert('ss')
        ajax('{{=URL('gerar_abc')}}',
        ['idDemanda','abc','tipo'], 'menu1');
        return false;
    });
    
    /*
    $('form').on('submit', function(e) {
        // insira aqui sua chamada ajax
        $('.nav li.active').next('li').removeClass('disabled');
        $('.nav li.active').next('li').find('a').attr("data-toggle","tab").trigger("click");
        /*
        $('input[value=Gerar]').click(function(){
        /*enable next tab*/
        /*
        $('.nav li.active').next('li').removeClass('disabled');
        $('.nav li.active').next('li').find('a').attr("data-toggle","tab").trigger("click");
        */
    });
});

</script>