<h1>teste</h1>
<table id="curvaabc" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Pos</th>
            <th>Descricão</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Total</th>
            <th>Porcentagem</th>
            <th>Acumulado</th>
        </tr>
    </thead>
    <tbody>
        {{for r in curva:}}
        <tr>
            <td>{{=r.id}}</td>
            <td>{{=r.descricao}}</td>
            <td>{{=r.quantidade}}</td>
            <td>{{=r.valor}}</td>
            <td>{{=r.total}}</td>
            <td>{{=r.porcentagem}}</td>
            <td>{{=r.acumulado}}</td>
        </tr>
        {{pass}}
    </tbody>
</table>

<script>
$(document).ready(function(){
    $('#curvaabc').DataTable({
        select: true,
        paging: false,
        scrollY: 300,
        scrollCollapse: true,
        searching: false,
        ordering:  true,
        language: {"url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Portuguese-Brasil.json"},
    });
});

</script>