{{extend 'layout.html'}}
<div class="container">
    {{=titulo("INSUMOS ","Histórico de Insumos")}}

    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="tab" href="#home">Pesquisa</a></li>
        <li><a data-toggle="tab" href="#menu1">Resultado</a></li>
    </ul>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            {{=form_pesq.custom.begin}}
            <div class="row">
                {{=campo(4,form_pesq.custom.label.demanda,form_pesq.custom.widget.demanda)}}
                {{=campo(4,form_pesq.custom.label.insumo,form_pesq.custom.widget.insumo)}}
            </div>
            <div class="row">
                {{=campo(4,form_pesq.custom.label.dtinicial,form_pesq.custom.widget.dtinicial)}}
                {{=campo(4,form_pesq.custom.label.dtfinal,form_pesq.custom.widget.dtfinal)}}
            </div>
            <hr>
            {{=btnRodape(form_pesq.custom.submit)}}
            {{=form_pesq.custom.end}}
        </div>
        <div id="menu1" class="tab-pane fade">
            
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    jQuery('form').submit(function() {
        $('.nav li.active').next('li').removeClass('disabled');
        $('.nav li.active').next('li').find('a').attr("data-toggle","tab").trigger("click");
        ajax('{{=URL('gerar_historico_insumo')}}',['demanda','dtinicial','dtfinal','insumo'],'menu1');
        return false;
    });    
});
</script>