{{extend 'layout.html'}}
<div class="container">
    {{=titulo("FINANCEIRO ","Cadastro de Bancos")}}
    {{if formBanco.create_form or formBanco.update_form:}}
        {{=formBanco[1].custom.begin}}
        <div class="row">
            {{=campo(2,formBanco[1].custom.label.codigo,formBanco[1].custom.widget.codigo)}}
            {{=campo(6,formBanco[1].custom.label.nome,formBanco[1].custom.widget.nome)}}
        </div>
        <hr>
        {{=btnRodape(formBanco[1].custom.submit,btnNovo,btnVoltar,btnExcluir)}}
        {{=formBanco[1].custom.end}}
    {{else:}}
        {{=formBanco}}
    {{pass}}
</div>