{{extend 'layout.html'}}
<div class="container">
    {{=titulo("FINANCEIRO ","Cadastro de Cheques")}}
    {{if formCheques.create_form or formCheques.update_form:}}
        {{=formCheques[1].custom.begin}}
        <div class="row">
            {{=campo(2,formCheques[1].custom.label.banco,formCheques[1].custom.widget.banco)}}
            {{=campo(2,formCheques[1].custom.label.agencia,formCheques[1].custom.widget.agencia)}}
            {{=campo(2,formCheques[1].custom.label.conta,formCheques[1].custom.widget.conta)}}
            {{=campo(2,formCheques[1].custom.label.cheque,formCheques[1].custom.widget.cheque)}}
            {{=campo(2,formCheques[1].custom.label.dtcheque,formCheques[1].custom.widget.dtcheque)}}
            {{=campo(2,formCheques[1].custom.label.valor,formCheques[1].custom.widget.valor)}}
        </div>
        <div class="row">
            {{=campo(8,formCheques[1].custom.label.nome,formCheques[1].custom.widget.nome)}}
        </div>
        <hr>
        {{=btnRodape(formCheques[1].custom.submit,btnNovo,btnVoltar,btnExcluir)}}
        {{=formCheques[1].custom.end}}
    {{else:}}
        {{=formCheques}}
    {{pass}}
</div>