{{extend 'layout.html'}}
<div class="container">
    {{=titulo("FINANCEIRO ","Cadastro de Contas")}}
    {{if formConta.create_form or formConta.update_form:}}
        {{=formConta[1].custom.begin}}
        <div class="row">
            {{=campo(6,formConta[1].custom.label.descricao,formConta[1].custom.widget.descricao)}}                    
        </div>
        <hr>
        {{=btnRodape(formConta[1].custom.submit,btnNovo,btnVoltar,btnExcluir)}}
        {{=formConta[1].custom.end}}
    {{else:}}
        {{=formConta}}
    {{pass}}
</div>