    {{if gridItens.create_form or gridItens.update_form:}}
        {{=gridItens[1].custom.begin}}    
        <div class="row">
             {{=campo(6,gridItens[1].custom.label.composicao,gridItens[1].custom.widget.composicao)}}
             {{=campo(6,gridItens[1].custom.label.insumo,gridItens[1].custom.widget.insumo)}}
             {{=campo(2,gridItens[1].custom.label.quantidade,gridItens[1].custom.widget.quantidade)}}                
        </div>
        <hr>
        {{=btnRodape(gridItens[1].custom.submit,btnVoltar,btnExcluir)}}
        {{=gridItens[1].custom.end}}
    {{else:}}
        {{=gridItens}}
        <hr>
    {{pass}}