{{extend 'layout.html'}}
<div class="container">
    {{=titulo("TAREFAS ","Cadastro de Tarefas",btnNovo,btnVoltar)}}

    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="tab" href="#home">Atividade</a></li>
        <li><a data-toggle="tab" href="#menu1">Itens</a></li>
    </ul>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            {{=formAtividade.custom.begin}}
            <div class="row">
                {{=campo(7,formAtividade.custom.label.atividade,formAtividade.custom.widget.atividade)}}
                {{=campo(2,formAtividade.custom.label.unidade,formAtividade.custom.widget.unidade)}}
            </div>
            <hr>
            {{=btnRodape(formAtividade.custom.submit,btnExcluir)}}
            {{=formAtividade.custom.end}}
        </div>
        <div id="menu1" class="tab-pane fade">
            {{=loadItens}}
        </div>
    </div>
</div>
