
{{extend 'layout.html'}}
<div class="container">
    
    {{=titulo("TAREFAS ","Cadastro de Tarefas",btnNovo,btnVoltar)}}
    
    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="tab" href="#home">Dados da Demanda</a></li>
        <li><a data-toggle="tab" href="#menu1">Despesas</a></li>
        <li><a data-toggle="tab" href="#menu2">Insumos</a></li>
        <li><a data-toggle="tab" href="#menu3">Curva ABC</a></li>
    </ul>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            {{=formDemanda.custom.begin}}
            <div class="row">
                {{=campo(3,formDemanda.custom.label.codigo,formDemanda.custom.widget.codigo)}}
                {{=campo(3,formDemanda.custom.label.tipo,formDemanda.custom.widget.tipo)}}
                {{=campo(6,formDemanda.custom.label.descricao,formDemanda.custom.widget.descricao)}}
            </div>
            <div class="row">
                {{=campo(6,formDemanda.custom.label.cliente,formDemanda.custom.widget.cliente)}}
                {{=campo(6,formDemanda.custom.label.endereco,formDemanda.custom.widget.endereco)}}
            </div>
            <hr>
            {{=btnRodape(formDemanda.custom.submit,btnExcluir)}}
            {{=formDemanda.custom.end}}
        </div>
    <div id="menu1" class="tab-pane fade">
        {{=formDespesas}}
    </div>
    <div id="menu2" class="tab-pane fade">
        {{=formInsumos}}
    </div>
    <div id="menu3" class="tab-pane fade">
        {{=formAbc}}
    </div>  
</div>

