<p></p>
{{=form_pesq.custom.begin}}
<div class="row">
    <div class="col-md-3">
        {{=form_pesq.custom.label.etapa}}
        {{=form_pesq.custom.widget.etapa}}
    </div>
        <div class="col-md-4">
        {{=form_pesq.custom.label.composicao}}
        {{=form_pesq.custom.widget.composicao}}
    </div>
    <div class="col-md-3">
        <div style="margin-top: 25px">
        {{=form_pesq.custom.submit}}
        </div>
    </div>
</div>
{{=form_pesq.custom.end}}
<p></p>

{{=insumos}}

<div class="right">
    <h4>Total de Insumos : R$ {{=totalInsumos}}</h4>
    {{=voltar('orcamentos')}}
</div>


<script type="text/javascript">
jQuery(function($){
  $("input[value=Gerar]").hide();
  $("#pesquisar_etapa").change(function() {
    $("input[value=Gerar]").click();
  });
    $("#pesquisar_composicao").change(function() {
    $("input[value=Gerar]").click();
  });
});
</script>

<script>
$(document).ready(function(){
    $('#insumosOrcamento').DataTable({
        paging: false,
        scrollY: 300,
        scrollCollapse: true,
        searching: false,
        ordering:  false,
        language: {"url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Portuguese-Brasil.json"},
    });
});
</script>

