{{extend 'layout.html'}}
<div class="container">
    <div class="container">
    {{=titulo("INSUMOS ","Cadastro de Insumos",btnNovo,btnVoltar)}}

    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="tab" href="#home">Insumos</a></li>
        <li><a data-toggle="tab" href="#menu1">Fornecedor</a></li>
        <li><a data-toggle="tab" href="#menu2">Histórico</a></li>
    </ul>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            {{=formInsumo.custom.begin}}
            <div class="row">
                {{=campo(2,formInsumo.custom.label.codigo,formInsumo.custom.widget.codigo)}}
                {{=campo(6,formInsumo.custom.label.descricao,formInsumo.custom.widget.descricao)}}
                {{=campo(2,formInsumo.custom.label.unidade,formInsumo.custom.widget.unidade)}}
                {{=campo(2,formInsumo.custom.label.preco,formInsumo.custom.widget.preco)}}
            </div>
            <div class="row">
                {{=campo(4,formInsumo.custom.label.tipo,formInsumo.custom.widget.tipo)}}
                {{=campo(4,formInsumo.custom.label.conta,formInsumo.custom.widget.conta)}}
                {{=campo(4,formInsumo.custom.label.obs,formInsumo.custom.widget.obs)}}
            </div>
            <hr>
            {{=btnRodape(formInsumo.custom.submit,btnExcluir)}}
            {{=formInsumo.custom.end}}
        </div>
        <div id="menu1" class="tab-pane fade">
            {{=formFornecedor}}
        </div>
        <div id="menu2" class="tab-pane fade">
            {{=formHistorico}}
     </div>
</div>
<script type="text/javascript">
jQuery(function($){
   $("#insumos_codigo").attr("disabled", true);
});
</script>
