
<div class="well">
    {{=formAtividade.custom.begin}}
    <div class="row">
        <div class="col-md-4">
            {{=formAtividade.custom.label.etapa}}
            {{=formAtividade.custom.widget.etapa}}
        </div>
        <div class="col-md-4">
            {{=formAtividade.custom.label.atividade}}
            {{=formAtividade.custom.widget.atividade}}
        </div>
        <div class="col-md-2">
            {{=formAtividade.custom.label.quantidade}}
            {{=formAtividade.custom.widget.quantidade}}
        </div>
        <div class="col-md-2">
            <div style="margin-top: 25px">{{=formAtividade.custom.submit}}</div>
        </div>
    </div>
    {{=formAtividade.custom.end}}
    <div class="well">
    <table class="table tree-2 table-bordered table-striped table-condensed">
    {{for linha in linhas:}}
        {{if linha['p'] == 0:}}   
            <tr class="treegrid-{{=linha['c']}} treegrid-expanded">
                <td>{{=linha['item']}}</td>
                <td>{{=linha['p']}}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {{else:}}
            <tr class="treegrid-{{=linha['c']}} treegrid-parent-{{=linha['p']}}">
            <td>{{=linha['item']}}</td>
            <td>{{=linha['p']}}</td>
               <td></td>
                <td></td>
                <td></td>
            </tr>
        {{pass}}
    {{pass}}
    </table> 
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        $('.tree-2').treegrid({
                    expanderExpandedClass: 'glyphicon glyphicon-minus',
                    expanderCollapsedClass: 'glyphicon glyphicon-plus'
                    });
        });
</script>




