{{=formComposicaoEditar.custom.begin}}
<div class="well">
    <div class="row">
        <div class="col-md-4">
            {{=formComposicaoEditar.custom.label.etapa}}
            {{=formComposicaoEditar.custom.widget.etapa}}
        </div>
        <div class="col-md-4">
            {{=formComposicaoEditar.custom.label.composicao}}
            {{=formComposicaoEditar.custom.widget.composicao}}
        </div>
        <div class="col-md-2">
            {{=formComposicaoEditar.custom.label.quantidade}}
            {{=formComposicaoEditar.custom.widget.quantidade}}
        </div>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-body">
        <div class="right">
            {{=formComposicaoEditar.custom.submit}}
            {{=voltar1('orcamentocomposicao')}}
            {{=excluir("#")}}
        </div>
    </div>
</div>
{{=formComposicaoEditar.custom.end}}
