{{extend 'layout.html'}}
{{include 'modal.html'}}
<div class="container">
    {{=titulo("ENTRADAS  ","Cadastro de Notas Fiscais",btnNovo,btnVoltar)}}
    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="tab" href="#home">Dados</a></li>
        <li><a data-toggle="tab" href="#menu1">Insumos</a></li>
        <li><a data-toggle="tab" href="#menu2">Parcelas</a></li>
    </ul>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            {{=form_pagar.custom.begin}}       
            <div class="row">
                <div class="col-md-6">
                    {{=form_pagar.custom.label.fornecedor}}
                    <div class="input-group">
                        {{=form_pagar.custom.widget.fornecedor}}
                        <span class="input-group-btn">
                            {{=btnPesquisar}}
                        </span>
                    </div><!-- /input-group -->
                </div>
                {{=campo(2,form_pagar.custom.label.documento,form_pagar.custom.widget.documento)}}
                {{=campo(2,form_pagar.custom.label.emissao,form_pagar.custom.widget.emissao)}} 
                {{=campo(2,form_pagar.custom.label.valor,form_pagar.custom.widget.valor)}} 
            </div>
            <div class="row">
                {{=campo(3,form_pagar.custom.label.condicao,form_pagar.custom.widget.condicao)}} 
                {{=campo(3,form_pagar.custom.label.tipo,form_pagar.custom.widget.tipo)}}
                
            </div>
            <hr>
            {{=btnRodape(form_pagar.custom.submit,btnExcluir)}}
            {{=form_pagar.custom.end}}
        </div>
        <div id="menu1" class="tab-pane fade">
            {{=form_insumos}}
        </div>
        <div id="menu2" class="tab-pane fade">
            {{=form_parcelas}}
        </div>
    </div>
</div>

<script type="text/javascript">
    function selecionar(id){
        $('#pagar_fornecedor').val(id).focus();
        hide_modal();
    };
</script