{{if formDespesas.create_form or formDespesas.update_form:}}
    {{=formDespesas[1].custom.begin}}
    <div class="row">
        {{=campo(6,formDespesas[1].custom.label.despesa,formDespesas[1].custom.widget.despesa)}} 
        {{=campo(3,formDespesas[1].custom.label.dtdespesa,formDespesas[1].custom.widget.dtdespesa)}} 
        {{=campo(3,formDespesas[1].custom.label.valor,formDespesas[1].custom.widget.valor)}} 
    </div>
    <hr>
    {{=btnRodape(formDespesas[1].custom.submit,btnVoltar,btnExcluir)}}
    {{=formDespesas[1].custom.end}}
{{else:}}
    {{=formDespesas}}
    <div class="left" style="margin-top: 15px; font-size: 16px;">
        <b> Total Despesas: {{=total_despesas}}</b>
    </div>
{{pass}}

<script type="text/javascript">
    jQuery(function($){
       $("#pagar_dtdespesa").mask('99/99/9999');
    });
</script>

