{{include 'modal.html'}}
{{if formInsumos.create_form or formInsumos.update_form:}}
    {{=formInsumos[1].custom.begin}}   
    <div class="row">
        <div class="col-md-5">
            {{=formInsumos[1].custom.label.insumo}}
            <div class="input-group">
                {{=formInsumos[1].custom.widget.insumo}}
                <span class="input-group-btn">
                    {{=btnPesquisar}}
                </span>
            </div><!-- /input-group -->
        </div>
        {{=campo(1,formInsumos[1].custom.label.unidade,formInsumos[1].custom.widget.unidade)}} 
        {{=campo(2,formInsumos[1].custom.label.quantidade,formInsumos[1].custom.widget.quantidade)}} 
        {{=campo(2,formInsumos[1].custom.label.preco,formInsumos[1].custom.widget.preco)}} 
        {{=campo(2,formInsumos[1].custom.label.desconto,formInsumos[1].custom.widget.desconto)}} 
    </div>
    <div class="row">
        {{=campo(3,formInsumos[1].custom.label.etapa,formInsumos[1].custom.widget.etapa)}} 
    </div>
    <hr>
    {{=btnRodape(formInsumos[1].custom.submit,btnVoltar,btnExcluir)}}
    {{=formInsumos[1].custom.end}}
{{else:}}
    {{=formInsumos}}
    <div class="left" style="margin-top: 15px; font-size: 16px;">
        <b> Total Insumos: {{=total_insumos}}</b>
    </div>
{{pass}}

<script type="text/javascript">
    function selecionar(id){
        $('#pagarInsumos_insumo').val(id).focus();
        hide_modal();
    };
</script>