{{include 'modal.html'}}
{{if formInsumos.create_form or formInsumos.update_form:}}
    {{=formInsumos[1].custom.begin}}
    <div class="well">
        <div class="row">
            <div class="col-md-5">
                {{=formInsumos[1].custom.label.insumo}}
                <div class="input-group">
                    {{=formInsumos[1].custom.widget.insumo}}
                    <span class="input-group-btn">
                        {{=btnPesquisar}}
                    </span>
                </div><!-- /input-group -->
            </div>
            <div class="col-md-1">
                {{=formInsumos[1].custom.label.unidade}}
                {{=formInsumos[1].custom.widget.unidade}}
            </div>
            <div class="col-md-2">
                {{=formInsumos[1].custom.label.quantidade}}
                {{=formInsumos[1].custom.widget.quantidade}}
            </div>
            <div class="col-md-2">
                {{=formInsumos[1].custom.label.preco}}
                {{=formInsumos[1].custom.widget.preco}}
            </div>
            <div class="col-md-2">
                {{=formInsumos[1].custom.label.desconto}}
                {{=formInsumos[1].custom.widget.desconto}}
            </div>
        </div>
        <div class="row">
            <p></p>
            <div class="col-md-3">
                {{=formInsumos[1].custom.label.etapa}}
                {{=formInsumos[1].custom.widget.etapa}}
            </div>
            <div class="col-md-3">
                {{=formInsumos[1].custom.label.obra}}
                {{=formInsumos[1].custom.widget.obra}}
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-body">
            <div class="right">
                {{=formInsumos[1].custom.submit}}
                {{=btnVoltar}}
                {{=btnExcluir}}
            </div>
        </div>
    </div>
    {{=formInsumos[1].custom.end}}
{{else:}}
    <div class="well">
        {{=formInsumos}}
        <div class="left">
            <b> Total Insumos: {{=total_insumos}}</b>
        </div>
    </div>
{{pass}}

<script type="text/javascript">
    function selecionar(id){
        $('#pagarInsumos_insumo').val(id).focus();
        hide_modal();
    };
</script>