<div class="well">
    {{=gridCheques}}
    <pre>Total de Cheques : <b>{{=total_cheques}}</b>    Total de Pagamentos : <b>{{=session.total_pagamentos}}</b></pre>
    <div class="row">
        <p></p>
        {{=form_pesq.custom.begin}}
        <div class="col-md-10">
            {{=form_pesq.custom.widget.cheque}}
        </div>

        <div class="col-md-2">
            {{=form_pesq.custom.submit}}
        </div>
        {{=form_pesq.custom.end}}
    </div><!-- /.row -->
</div><!-- /.well -->
