{{if formParcelas.create_form or formParcelas.update_form:}}
    {{=formParcelas[1].custom.begin}} 
    <div class="row">
        {{=campo(2,formParcelas[1].custom.label.parcela,formParcelas[1].custom.widget.parcela)}} 
        {{=campo(3,formParcelas[1].custom.label.vencimento,formParcelas[1].custom.widget.vencimento)}} 
        {{=campo(3,formParcelas[1].custom.label.valor,formParcelas[1].custom.widget.valor)}} 
    </div>
   <hr>
   {{=btnRodape(formParcelas[1].custom.submit,btnVoltar,btnExcluir)}}
   {{=formParcelas[1].custom.end}}
{{else:}}
   {{=formParcelas}}
  <div class="left" style="margin-top: 15px; font-size: 16px;">
        <b> Total Parcelas: {{=total_parcela}}</b>
    </div>
{{pass}}

<script type="text/javascript">
jQuery(function($){
   $("#pagar_parcelas_parcela").attr("disabled", true);
});
</script>