{{extend 'layout.html'}}
<head>
  <script src="{{=URL('static', 'js/Mascaras.js')}}" type="text/javascript"></script>
</head>
<div class="container">
  <h3>Conta a Receber</h3>
  {{=voltar}}
  {{=novo}}
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Dados</a></li>
    <li><a data-toggle="tab" href="#menu1">Parcelas</a></li>
    <li><a data-toggle="tab" href="#menu2">Receitas</a></li>
  </ul>
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      {{=form_receber}}
    </div>
    <div id="menu1" class="tab-pane fade">
        {{=form_parcelas}}
    </div>         
    <div id="menu2" class="tab-pane fade">
        {{=form_receitas}}  
    </div>
  </div>
</div>

<script type="text/javascript">
jQuery(function($){
   $("#receber_cliente").css('width', '550'); 
   $("#receber_documento").css('width', '250px');
   $("#receber_condicao").css('width', '250px');
});  
</script>