{{if formReceitas.create_form or formReceitas.update_form:}}
    {{=formReceitas[1].custom.begin}}
    <div class="well">
        <div class="row">
            <div class="col-md-6">
                {{=formReceitas[1].custom.label.receita}}
                {{=formReceitas[1].custom.widget.receita}}
            </div>
            <div class="col-md-3">
                {{=formReceitas[1].custom.label.dtreceita}}
                {{=formReceitas[1].custom.widget.dtreceita}}
            </div>
            <div class="col-md-3">
                {{=formReceitas[1].custom.label.valor}}
                {{=formReceitas[1].custom.widget.valor}}
            </div>
        </div>
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="right">
                        {{=formReceitas[1].custom.submit}}
                        {{=btnVoltar}}
                        {{=btnExcluir}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{=formReceitas[1].custom.end}}
{{else:}}
    <div class="well">
        {{=formReceitas}}
        <div class="left" style="margin-left: 10px; margin-top: 60px">
            <b> Total Despesas: {{=total_receitas}}</b>
        </div>
    </div>
{{pass}}

<script type="text/javascript">
    jQuery(function($){
       $("#receber_dtdespesa").mask('99/99/9999');
    });
</script>

