{{if formEnderecos.create_form or formEnderecos.update_form:}}
    {{=formEnderecos[1].custom.begin}}
    
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                {{=formEnderecos[1].custom.label.tipo}}
                {{=formEnderecos[1].custom.widget.tipo}}
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                {{=formEnderecos[1].custom.label.endereco}}
                {{=formEnderecos[1].custom.widget.endereco}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                {{=formEnderecos[1].custom.label.bairro}}
                {{=formEnderecos[1].custom.widget.bairro}}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{=formEnderecos[1].custom.label.cidade}}
                {{=formEnderecos[1].custom.widget.cidade}}
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                {{=formEnderecos[1].custom.label.estado}}
                {{=formEnderecos[1].custom.widget.estado}}
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                {{=formEnderecos[1].custom.label.cep}}
                {{=formEnderecos[1].custom.widget.cep}}
            </div>
        </div>
    </div>
    <hr>
    <div class="btn-group btn-group-sm" role="group">  
        {{=formEnderecos[1].custom.submit}}
        {{=btnVoltar}}
        {{=btnExcluir}}
    </div>
    {{=formEnderecos[1].custom.end}}
{{else:}}
    {{=formEnderecos}}
{{pass}}

<script type="text/javascript">
    jQuery(function($){
   $("#enderecos_cep").mask("99999-999");
});
</script>