{{if formContatos.create_form or formContatos.update_form:}}
    {{=formContatos[1].custom.begin}}
    <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    {{=formContatos[1].custom.label.departamento}}
                    {{=formContatos[1].custom.widget.departamento}}
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    {{=formContatos[1].custom.label.nome}}
                    {{=formContatos[1].custom.widget.nome}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                {{=formContatos[1].custom.label.fone}}
                {{=formContatos[1].custom.widget.fone}}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{=formContatos[1].custom.label.celular}}
                {{=formContatos[1].custom.widget.celular}}
            </div>   
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{=formContatos[1].custom.label.email}}
                {{=formContatos[1].custom.widget.email}}
            </div>   
        </div>   
    </div>

        <hr>
        <div class="btn-group btn-group-sm" role="group">  
            {{=formContatos[1].custom.submit}}
            {{=btnVoltar}}
            {{=btnExcluir}}
        </div>

    {{=formContatos[1].custom.end}}
{{else:}}
    {{=formContatos}}
{{pass}}

<script type="text/javascript">
jQuery(function($){
   $("#contatos_fone").mask("(99) 9999-9999");
   $("#contatos_celular").mask("(99) 99999-9999");
});
</script>
