{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<div class="container">
    {{if formCondicao.create_form or formCondicao.update_form:}}
        {{=formCondicao[1].custom.begin}}
        <div class="panel panel-info">
            <div class="panel-heading"><h4>Condição de Pagamento</h4></div>
            <div class="panel-body">
                <div class="well">
                    <div class="row">
                        <div class="col-md-6">
                            {{=formCondicao[1].custom.label.descricao}}
                            {{=formCondicao[1].custom.widget.descricao}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p></p>
                            {{=formCondicao[1].custom.label.dias}}
                            {{=formCondicao[1].custom.widget.dias}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="right">
                    {{=formCondicao[1].custom.submit}}
                    {{=voltar('condicao')}}
                    {{if formCondicao.update_form:}}
                        {{=novo('condicao/new/condicao')}}
                        {{=excluir('#')}}
                    {{pass}}
                </div>
            </div>
        </div>
        {{=formCondicao[1].custom.end}}
    {{else:}}
        <div class="panel panel-info">
            <div class="panel-heading"><h4>Condição de Pagamento</h4></div>
                <div class="panel-body">
                    {{=formCondicao}}
                </div>
            </div>
        </div>
    {{pass}}
</div>

<script type="text/javascript">
jQuery(function($){
   $("#condicao_descricao").css('width', '300px');
   $(".input-group").css('width', '150px');
   $(".integer.form-control").css('width', '60px').attr("maxlength",3);
});  
</script>