{{left_sidebar_enabled=True,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<div class="container">
    <div class="page-header text-info">
        <h1>CONDIÇÃO <small>Condição de Pagamento</small></h1>
    </div>

    {{if formCondicao.create_form or formCondicao.update_form:}}
        {{=formCondicao[1].custom.begin}}
        
        <div class="row">
            <div class="col-md-6">
                {{=formCondicao[1].custom.label.descricao}}
                {{=formCondicao[1].custom.widget.descricao}}
                
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-6">        
                {{=formCondicao[1].custom.label.dias}}
                {{=formCondicao[1].custom.widget.dias}}
            </div>
        </div>
        <hr>
        <div class="btn-group btn-group-sm" role="group">  
            {{=formCondicao[1].custom.submit}}
            {{=voltar('condicao')}}
            {{if formCondicao.update_form:}}
                {{=novo('condicao/new/condicao')}}
                {{=excluir('#')}}
            {{pass}}
        </div>
        {{=formCondicao[1].custom.end}}
    {{else:}}
        {{=formCondicao}}
    {{pass}}
</div>

<script type="text/javascript">
jQuery(function($){
   $("#condicao_descricao").css('width', '300px');
   $(".input-group").css('width', '150px');
   $(".integer.form-control").css('width', '60px').attr("maxlength",3);
});  
</script>