{{if formContatos.create_form or formContatos.update_form:}}
    {{=formContatos[1].custom.begin}}
    <div class="row">
        {{=campo(4,formContatos[1].custom.label.departamento,formContatos[1].custom.widget.departamento)}}
        {{=campo(8,formContatos[1].custom.label.nome,formContatos[1].custom.widget.nome)}}
    </div>
    <div class="row">
        {{=campo(3,formContatos[1].custom.label.fone,formContatos[1].custom.widget.fone)}}
        {{=campo(3,formContatos[1].custom.label.celular,formContatos[1].custom.widget.celular)}}
        {{=campo(6,formContatos[1].custom.label.email,formContatos[1].custom.widget.email)}}
    </div>
    <hr>
    {{=btnRodape(formContatos[1].custom.submit,btnVoltar,btnExcluir)}}
    {{=formContatos[1].custom.end}}
{{else:}}
    {{=formContatos}}
{{pass}}

<script type="text/javascript">
jQuery(function($){
   $("#contatos_fone").mask("(99) 9999-9999");
   $("#contatos_celular").mask("(99) 99999-9999");
});
</script>
