{{extend 'layout.html'}}
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading"><h4>Cadastro de Fornecedores</h4></div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Dados Cadastrais</a></li>
                    <li><a data-toggle="tab" href="#menu1">Endereços</a></li>
                    <li><a data-toggle="tab" href="#menu2">Contatos</a></li>
                    <li><a data-toggle="tab" href="#menu3">Insumos</a></li>
                </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    {{=formFornecedor.custom.begin}}
                    <div class="well">
                        <div class="row">
                            <div class="col-md-6">
                                {{=formFornecedor.custom.label.nome}}
                                {{=formFornecedor.custom.widget.nome}}
                            </div>
                            <div class="col-md-6">
                                {{=formFornecedor.custom.label.razao}}
                                {{=formFornecedor.custom.widget.razao}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{=formFornecedor.custom.label.tipo}}
                                {{=formFornecedor.custom.widget.tipo}}
                            </div>
                            <div class="col-md-4">
                                {{=formFornecedor.custom.label.cnpj_cpf}}
                                {{=formFornecedor.custom.widget.cnpj_cpf}}
                            </div>
                            <div class="col-md-4">
                                {{=formFornecedor.custom.label.ie_rg}}
                                {{=formFornecedor.custom.widget.ie_rg}}
                            </div>
                        </div>
                        <div class="row">
                            <p></p>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <div class="right">
                                {{=formFornecedor.custom.submit}}
                                {{=btnNovo}}
                                {{=btnVoltar}}
                                {{=btnExcluir}}
                            </div>
                        </div>
                    </div>
                    {{=formFornecedor.custom.end}}
                </div>
                <div id="menu1" class="tab-pane fade">
                    {{=formEnderecos}}
                </div>
                <div id="menu2" class="tab-pane fade">
                    {{=formContatos}}
                </div>
                <div id="menu3" class="tab-pane fade">
                    {{=formInsumo}}                    
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    if($('#fornecedores_tipo option:selected').val() == 'Física'){
       $("#fornecedores_cnpj_cpf").mask("999.999.999-99");
       $("#fornecedores_ie_rg").mask("99.999.999-9");
       $("#fornecedores_cnpj_cpf__label").text('CPF');
       $("#fornecedores_ie_rg__label").text('RG');
     }
     else {
       $("#fornecedores_cnpj_cpf").mask("99.999.999/9999-99");
       $("#fornecedores_ie_rg").unmask();
       $("#fornecedores_cnpj_cpf__label").text('CNPJ');
       $("#fornecedores_ie_rg__label").text('Incrição Estadual');
     }
   // Alterando as máscaras conforme escolhe do tipo de pessoa.
   $('#fornecedores_tipo').on('change',function() {
     if($('#fornecedores_tipo option:selected').val() == 'Física'){
       $("#fornecedores_cnpj_cpf").mask("999.999.999-99");
       $("#fornecedores_ie_rg").mask("99.999.999-9");
       $("#fornecedores_cnpj_cpf__label").text('CPF');
       $("#fornecedores_ie_rg__label").text('RG');
     }
     else {
       $("#fornecedores_cnpj_cpf").mask("99.999.999/9999-99");
       $("#fornecedores_ie_rg").unmask();
       $("#fornecedores_cnpj_cpf__label").text('CNPJ');
       $("#fornecedores_ie_rg__label").text('Incrição Estadual');
     }
   });
});
</script>