{{if formEnderecos.create_form or formEnderecos.update_form:}}
    {{=formEnderecos[1].custom.begin}}
    
    <div class="row">
        {{=campo(4,formEnderecos[1].custom.label.tipo,formEnderecos[1].custom.widget.tipo)}}
        {{=campo(8,formEnderecos[1].custom.label.endereco,formEnderecos[1].custom.widget.endereco)}}
    </div>
    <div class="row">
        {{=campo(4,formEnderecos[1].custom.label.bairro,formEnderecos[1].custom.widget.bairro)}}
        {{=campo(4,formEnderecos[1].custom.label.cidade,formEnderecos[1].custom.widget.cidade)}}
        {{=campo(2,formEnderecos[1].custom.label.estado,formEnderecos[1].custom.widget.estado)}}
        {{=campo(2,formEnderecos[1].custom.label.cep,formEnderecos[1].custom.widget.cep)}}
    </div>
    <hr>
    {{=btnRodape(formEnderecos[1].custom.submit,btnVoltar,btnExcluir)}}
    {{=formEnderecos[1].custom.end}}
{{else:}}
    {{=formEnderecos}}
{{pass}}

<script type="text/javascript">
    jQuery(function($){
   $("#enderecos_cep").mask("99999-999");
});
</script>