{{extend 'layout.html'}}
<div class="container">
    <div class="page-header text-info">
        <h1>PRODUTOS <small>Cadastro de Produtos</small></h1>
        <div class="btn-group btn-group-xs" role="group"> 
            {{=btnNovo}}
            {{=btnVoltar}}
        </div> 
    </div>
    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="tab" href="#home">Produtos</a></li>
    </ul>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            {{=formProduto.custom.begin}}          
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                    {{=formProduto.custom.label.descricao}}
                    {{=formProduto.custom.widget.descricao}}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                    {{=formProduto.custom.label.unidade}}
                    {{=formProduto.custom.widget.unidade}}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                    {{=formProduto.custom.label.preco}}
                    {{=formProduto.custom.widget.preco}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="">
                    {{=formProduto.custom.label.obs}}
                    {{=formProduto.custom.widget.obs}}
                    </div>
                </div>
            </div>
            <hr>
            <div class="btn-group btn-group-sm" role="group">  
                {{=formProduto.custom.submit}}
                {{=btnExcluir}}
            </div>
            {{=formProduto.custom.end}}
        </div>
    </div>
</div>